<template id="alert">   
    <div class="alert-holder">
        <div class="main-alert alert sufee-alert with-close alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p class="main-message">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so
                that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0 supporting-message">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
</template>