<template id="day-template">
        <div class="day">
            <H1 class="day-display m-b-10"></H1>
            <div class="day-body">
                <div class="row session-row">    
                </div>
            </div>
        </div>      
</template>