<template id="event-item-template">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between headingsection">
            <h4 class="mb-1 title">List group item heading</h5>
            <small class="duration">3 days ago</small>
        </div>
        <p class="mb-1 description">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="speaker pull-left">Donec id elit non mi porta.</small>      
    </a>            
    <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="left-details">Date Created</span>
        <span class="badge-pill right-details"></span>
    </li> -->
</template>