<template id="session-template">   
    <div class="session col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">CSV Details</strong>
            </div>
            <div class="card-body">                
            </div>
        </div>
    </div>
</template>